$title-font: "Oswald", arial, sans-serif;
$text-font: "Lato", arial, sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$grey: rgba(68, 68, 68, 1);
$green: rgba(104, 183, 56, 1);
