.card {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 24px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 0 37px 40px;
    flex-direction: column;
    min-width: 324px;
    min-height: 511px;
    background-image: linear-gradient($white 81px, rgba(242, 242, 242, 1) 81px);
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;
    margin-right: 18px;
    min-width: 245px;
    min-height: 511px;
  }

  &:nth-child(4n) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  &--show-more {
    align-items: center;
    justify-content: center;
    padding: 25px 20px 24px;

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      justify-content: flex-start;
      min-height: 429px;
      max-height: 429px;
      padding: 49px 35px 38px;
      background-color: $white;
      border: 2px solid rgba(242, 242, 242, 1);
      background-image: none;
    }

    @media (min-width: $desktop-width) {
      padding: 48px 35px 38px;
    }
  }

  &--show-more .card__title {
    padding: 0 0 8px;
    color: rgba(17, 17, 17, 1);

    @media (min-width: $tablet-width) {
      margin-bottom: 15px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 18px;
    }
  }

  &--show-more .card__text {
    margin: 0;
    padding: 0 0 21px;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      max-width: 170px;
      text-align: center;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 69px;
    }
  }

  &--show-more .card__link {
    color: rgba(68, 68, 68, 1);
    background-color: rgba(242, 242, 242, 1);

    &:hover {
      background-color: rgba(235, 235, 235, 1);
    }

    &:active {
      background-color: rgba(235, 235, 235, 1);
    }
  }
}

.card__list {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__list-data {
  margin: 0;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 28px;
  }
}

.card__img-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  min-height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    padding: 10px 25px 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 12px;
    max-width: 169px;
    min-height: 210px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__title {
  margin: 0;
  padding: 1px 64px 14px 0;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 1);

  @media (min-width: $tablet-width) {
    max-width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__list-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 0 0 4.5px;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid rgba(205, 205, 205, 1);
  }

  &:nth-child(2) {
    @media (min-width: $desktop-width) {
      margin-bottom: 4px;
      padding-bottom: 7px;
    }
  }

  &:nth-child(3) {
    @media (min-width: $desktop-width) {
      margin-bottom: 4px;
      padding-bottom: 10px;
    }
  }
}

.card__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;
  mask-image: url("../../icons/stack.svg#icon-plus");
  background-color: rgb(211, 211, 211);

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.card__link {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
