.example-section {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-image:
      linear-gradient(
        to top,
        rgba(234, 234, 234, 1) 462px,
        $white 462px
      );
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(
        to top,
        rgba(242, 242, 242, 1) 462px,
        $white 462px
      );
  }
}

.example-section__container {
  padding: 25px 20px 40px;
  background-color: rgba(234, 234, 234, 1);

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: $white;
    padding: 25px 0 0;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
  }
}

.example-section__title {
  margin: 0 0 40px;
  font-family: $title-font;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 30px 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 26px 110px;
    width: 100%;
  }
}

.example-section__background {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-color: rgba(234, 234, 234, 1);
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(242, 242, 242, 1);
  }
}
